<nav class="navbar navbar-expand-lg navbar-light bg-light px-3 border-bottom">

  <!-- Brand -->
  <a class="navbar-brand fw-bold text-primary" href="{% url 'home' %}">
    Inkflow Inspiration
  </a>

  <!-- Mobile toggle -->
  <button class="navbar-toggler" type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <!-- Left navigation (core CMS sections) -->
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      <li class="nav-item">
        <a class="nav-link" href="{% url 'article list' %}">
          Articles
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">
          Categories
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">
          Authors
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">
          Register
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">
          Login
        </a>
      </li>

    </ul>

    <!-- Right side search -->
    <form class="d-flex ms-auto" role="search">
      <input class="form-control me-2" type="search" placeholder="Search articles...">
      <button class="btn btn-outline-primary" type="submit">
        Search
      </button>
    </form>

  </div>
</nav>