{% extends "base.html" %}

{% block hero %}{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>
            {% if object %}
                Edit Article
            {% else %}
                Create Article
            {% endif %}
        </h2>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger">
                Please fix the errors below.
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-8">
                <div class="mb-3">
                    {{ form.title.label_tag }}
                    {{ form.title }}
                </div>
                <div class="mb-3">
                    {{ form.category.label_tag }}
                    {{ form.category }}
                </div>
                <div class="mb-3">
                    {{ form.body.label_tag }}
                    {{ form.body }}
                </div>
                <div class="mb-3">
                    {{ form.featured_image.label_tag }}
                    {{ form.featured_image }}
                </div>
            </div>
        </div>

        <button type="submit" class="btn" style="background-color: #bf9b30; color: #000;">
            Save Article
        </button>

    </form>
</div>
{% endblock %}