{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Dashboard{% endblock %}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <!-- CSS from theme -->
    <link rel="stylesheet" href="{% static 'theme/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body class="is-preload d-flex flex-column min-vh-100">
    <!-- Navbar -->
    {% include "layouts/navbar.html" %}
    <div class="container-fluid flex-grow-1">
        <div class="row h-100">
            <!-- Sidebar -->
            <aside class="col-lg-2 col-md-3 d-none d-md-block p-1 sidebar d-flex flex-column border-end">
                {% include "layouts/sidebar.html" with oldest_articles=oldest_articles %}
            </aside>
            <!-- Main Content -->
            <main class="col-lg-10 col-md-9 ms-sm-auto px-4">
                {% block hero %}
                    <div class="hero-banner mt-4 mb-5">
                        <div style="height: 100%; width: 100%; overflow: hidden; border-radius: 8px;">
                            <img
                                src="{% static 'theme/images/Banner.png' %}"
                                class="w-100 h-100 object-fit-cover"
                                alt="Hero Banner"
                            >
                        </div>
                    </div>
                {% endblock %}
                {% block content %}{% endblock %}
            </main>
        </div>
        <button id="backToTop"
                class="btn btn-warning rounded-circle shadow position-fixed bottom-0 end-0 m-4"
                aria-label="Back to top">
            <i class="fas fa-arrow-up"></i>
        </button>
    </div>
    <script>
        const backToTopButton = document.getElementById("backToTop");
        window.addEventListener("scroll", function () {
            if (window.scrollY > 300) {
                backToTopButton.style.display = "block";
            } else {
                backToTopButton.style.display = "none";
            }
        });
        backToTopButton.addEventListener("click", function () {
            window.scrollTo({
                top: 0,
                behavior: "smooth"
            });
        });
    </script>
</body>
<!-- JS from theme -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous">
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>