{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Dashboard{% endblock %}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <!-- CSS from theme -->
    <link rel="stylesheet" href="{% static 'theme/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body class="is-preload">

    <!-- Navbar -->
    {% include "layouts/navbar.html" %}

    <div class="container-fluid">
        <div class="row">

            <!-- Sidebar -->
            <aside class="col-lg-2 col-md-3 d-none d-md-block p-1 sidebar">
                {% include "layouts/sidebar.html" with oldest_articles=oldest_articles %}
            </aside>

            <!-- Main Content -->
            <main class="col-lg-10 col-md-9 ms-sm-auto px-4">
                {% block hero %}
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="9000">

                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <div style="height: 480px;">
                                    <img class="d-block w-100 h-100 object-fit-cover"
                                         src="{% static 'theme/images/inspiration.png' %}">
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div style="height: 480px;">
                                    <img class="d-block w-100 h-100 object-fit-cover"
                                         src="{% static 'theme/images/demographics.png' %}">
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div style="height: 480px;">
                                    <img class="d-block w-100 h-100 object-fit-cover"
                                         src="{% static 'theme/images/topics.png' %}">
                                </div>
                            </div>

                        </div>

                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"
                           style="left: -70px;">
                            <span class="carousel-control-prev-icon" style="filter: invert(1);"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"
                           style="right: -70px;">
                            <span class="carousel-control-next-icon" ></span>
                            <span class="sr-only">Next</span>
                        </a>

                    </div>
                {% endblock %}
                {% block content %}{% endblock %}
            </main>

        </div>
    </div>

</body>

<!-- JS from theme -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous">
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>