<div class="d-flex flex-column h-100 p-3 bg-light">
    <h5 class="fw-bold mb-4">
        Operations
    </h5>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="{% url 'employee-dashboard' %}" class="nav-link text-dark">
                <i class="fas fa-tachometer-alt me-2"></i>
                Dashboard
            </a>
        </li>
        <hr>
        <li>
            <span class="text-muted small fw-bold">
                CONTENT MANAGEMENT
            </span>
        </li>
        <li>
            <a href="{% url 'article_reported_list' %}" class="nav-link text-dark">
                <i class="fas fa-flag me-2"></i>
                Reported Articles
            </a>
        </li>
        <li>
            <a href="{% url 'article_review_list' %}" class="nav-link text-dark">
                <i class="fas fa-file-alt me-2"></i>
                Articles Review
            </a>
        </li>
        <hr>
        <li>
            <span class="text-muted small fw-bold">
                USER MANAGEMENT
            </span>
        </li>
        <li>
            <a href="#" class="nav-link text-dark">
                <i class="fas fa-users me-2"></i>
                Reported Users
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-dark">
                <i class="fas fa-user-shield me-2"></i>
                User Warnings
            </a>
        </li>
        <hr>
        <li>
            <span class="text-muted small fw-bold">
                EMPLOYEE MANAGEMENT
            </span>
        </li>
        <li>
            <a href="{% url 'employee-list' %}" class="nav-link text-dark">
                <i class="fas fa-id-badge me-2"></i>
                Employees
            </a>
        </li>
        <li>
            <a href="{% url 'job-list' %}" class="nav-link text-dark">
                <i class="fas fa-briefcase me-2"></i>
                Jobs
            </a>
        </li>
        <li>
            <a href="{% url 'department-list' %}" class="nav-link text-dark">
                <i class="fas fa-building me-2"></i>
                Departments
            </a>
        </li>
        <li>
            <a href="{% url 'role-list' %}" class="nav-link text-dark">
                <i class="fas fa-user-tag me-2"></i>
                Roles
            </a>
        </li>
        <hr>
        <li>
            <span class="text-muted small fw-bold">
                ACCOUNT
            </span>
        </li>
        <li>
            <a href="#" class="nav-link text-dark">
                <i class="fas fa-user-circle me-2"></i>
                My Profile
            </a>
        </li>
    </ul>
</div>